<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="noticias.component.css">
</head>
<body>
    <div class="card" id="noticias">
        <div class="header">
            Notícias
            <hr>
        </div>
        <div id="listaNoticias">
            <b>Aula Pública</b>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate obcaecati nulla cupiditate
                asperiores quo? Quo ex repellat iure magni atque, veniam architecto facilis voluptatibus repellendus
                rem, nam dolorum, corrupti laborum.</p>
            <br>
        </div>
    </div>
</body>
</html>
