#menu, #noticias, #destaques {
    flex: 1;
}

#menu {
    background-color: #005493;
    color: #fff;
}

#menu .header {
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
}

#menu ul {
    list-style: none;
    padding: 0;
}

#menu li {
    padding: 10px;
}

#menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

@media (max-width: 500px) {
    .container {
        grid-template-columns: 1fr;
    }
    #logo {
        grid-column: span 1;
    }

    #menu, #noticias, #destaques {
        width: 100%;
    }

    #destaques img {
        border-radius: 0; /* Remover borda arredondada em imagens */
    }
}