<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="menu.component.css">
</head>
<body>
    <div id="menu">
        <div class="header">
            Menu
            <hr>
        </div>
        <ul>
            <li><a>A UESC</a></li>
            <li><a>Graduação</a></li>
            <li><a>Pos Graduação</a></li>
            <li><a>Extensão</a></li>
            <li><a>Estrutura Organizacional</a></li>
            <li><a>Servidores</a></li>
            <li><a>Fale Conosco</a></li>
        </ul>
    </div>
    
</body>
</html>
