  <div>
    <h2>Filtrar Suínos</h2>
    <form>
      <label for="sexo">Sexo:</label>
      <select id="sexo" [(ngModel)]="selectedSexo" name="selectedSexo">
        <option value="">Todos</option>
        <option *ngFor="let sexo of categories" [value]="sexo">{{ sexo }}</option>
      </select>
      <button type="button" (click)="filterSuinos()">Filtrar</button>
    </form>

    <h2>Listagem de Suínos</h2>

    <table *ngIf="filteredSuinos.length > 0" class="table">
      <thead>
        <tr>
          <th>Brinco do Pai</th>
          <th>Brinco da Mãe</th>
          <th>Data de Nascimento</th>
          <th>Data de Saída</th>
          <th>Sexo</th>
          <th>Status</th>
          <th>Idade</th>
          <th>Opções</th>
        </tr>
      </thead>
      <tbody>
        <!-- Iterar sobre a lista de suínos filtrados e exibir cada suíno -->
        <tr *ngFor="let suino of filteredSuinos" class="table-row">
          <td>{{ suino.brincoPai }}</td>
          <td>{{ suino.brincoMae }}</td>
          <td>{{ suino.dataNascimento | date }}</td>
          <td>{{ suino.dataSaida | date }}</td>
          <td>{{ suino.sexo }}</td>
          <td>{{ suino.status }}</td>
          <td>{{ suino.dataNascimento | calcularIdadeEmMeses }}</td>
          <td>
            <!-- Adicionar botões ou links de editar e deletar -->
            <button (click)="editarSuino(suino)">Editar</button>
            <button (click)="excluirSuinoSelecionado()">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Formulário de edição -->
    <form *ngIf="editando" [formGroup]="suinoForm" (ngSubmit)="atualizarSuino()">
      <label for="brincoPai">Brinco do Pai:</label>
      <input type="text" id="brincoPai" formControlName="brincoPai">

      <label for="brincoMae">Brinco da Mãe:</label>
      <input type="text" id="brincoMae" formControlName="brincoMae">

      <label for="dataNascimento">Data de Nascimento:</label>
      <input type="date" id="dataNascimento" formControlName="dataNascimento">

      <label for="dataSaida">Data de Saída:</label>
      <input type="date" id="dataSaida" formControlName="dataSaida">

      <label for="sexo">Sexo:</label>
      <select id="sexo" formControlName="sexo">
        <option value="M">Macho</option>
        <option value="F">Fêmea</option>
      </select>

      <label for="status">Status:</label>
      <select id="status" formControlName="status">
        <option value="ativo">Ativo</option>
        <option value="vendido">Vendido</option>
      </select>

      <button type="submit">Salvar</button>
      <div *ngIf="suinoSalvo" class="sucesso-mensagem">
        Dados salvos com sucesso!
      </div>
    </form>
  </div>



