<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <title>Universidade Estadual de Santa Cruz</title>
    <link rel="stylesheet" href="resultados.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital@1&family=Smooch&display=swap" rel="stylesheet">
</head>
<body>



    <div class="container">
        <div class="card" id="logo">
            UESC - Universidade Estadual de Santa Cruz
        </div>
    </div>
    
</body>
</html>
