<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Universidade Estadual de Santa Cruz</title>
    <link rel="stylesheet" href="site-uesc.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital@1&family=Smooch&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">
            UESC - Universidade Estadual de Santa Cruz
        </div>
        <nav>
            <ul>
                <li><a href="#destaques">Destaques</a></li>
                <li><a href="#menu">Menu</a></li>
                <li><a href="#noticias">Notícias</a></li>
                <li><a href="#resultados">Resultados</a></li>
                <li><a href="#servicos">Serviços</a></li>
            </ul>
        </nav>
    </header>

    <section id="destaques">
        <div class="card">
            Destaques
            <img src="http://www.uesc.br/adm/xml/imagens/uescacontece.jpg">
        </div>
    </section>

    <section id="menu">
        <div class="card">
            <div class="header">
                Menu
                <hr>
            </div>
            <ul>
                <li><a>A UESC</a></li>
                <li><a>Graduação</a></li>
                <li><a>Pos Graduação</a></li>
                <li><a>Extensão</a></li>
                <li><a>Estrutura Organizacional</a></li>
                <li><a>Servidores</a></li>
                <li><a>Fale Conosco</a></li>
            </ul>
        </div>
    </section>

    <section id="noticias">
        <div class="card">
            <div class="header">
                Notícias
                <hr>
            </div>
            <div id="listaNoticias">
                <b>Aula Pública</b>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate obcaecati nulla cupiditate
                    asperiores quo? Quo ex repellat iure magni atque, veniam architecto facilis voluptatibus repellendus
                    rem, nam dolorum, corrupti laborum.</p>
                <br>
            </div>
        </div>
    </section>

    <section id="resultados">
        <div class="card">
            UESC - Universidade Estadual de Santa Cruz
        </div>
    </section>

    <section id="servicos">
        <div class="card">
            <div class="header">
                Serviços
                <hr>
            </div>
            <div id="listaServicos">
                <a>Protocolo Digital</a><br>
                <a>Biblioteca</a><br>
                <a>Licitações</a><br>
                <a>Auditorios</a><br>
                <a>Portal Academico</a>
                <br>
                <br>
            </div>
        </div>
    </section>
</body>
</html>
